<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{{.Title}}</title>
	<script src="https://unpkg.com/htmx.org@1.9.4"
		integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
		crossorigin="anonymous"></script>
</head>

<body>
	<button hx-post="/add-todos" hx-trigger="click" hx-target="#todos-container" hx-swap="afterend">
		Add Todo
	</button>

	<div hx-get="/todos" hx-trigger="load" hx-target="this" hx-swap="innerHTML" id="todos-container">
</body>

</html>
